@page
@model ContosoCrafts.WebSite.Pages.Product.IndexModel

@{
	ViewData["Title"] = "Index page";
}

<div class="container hero-index-container">
    <table class="table hero-table">
        <thead>
            <tr>
                <th class="hero-title-header">Superhero Name</th>
                <th class="hero-action-header">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr class="hero-row">
                    <td>@product.Title</td>
                    <td>
                        <a class="hero-link" asp-page="Read" asp-route-id="@product.Id">Read</a>
                        <a class="hero-link" asp-page="Update" asp-route-id="@product.Id">Edit</a>
                        <button type="button" class="btn" style="color: white;">
                            <i class="fas fa-trash" style="color: white;"></i>
                            <span style="color: white;">Delete</span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
