@page
@model ContosoCrafts.WebSite.Pages.Product.IndexModel

@{
    ViewData["Title"] = "Index page";
}

<div class="container hero-index-container">
    <div class="hero-create-button-container mb-4">
        <a class="btn btn-primary" asp-page="Create">
            Create New Hero
        </a>
    </div>

    <table class="table hero-table">
        <thead>
            <tr>
                <th class="hero-title-header">Title</th>
                <th class="hero-action-header">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr class="hero-row">
                    <td>@product.Title</td>
                    <td>
                        <a class="hero-link" asp-page="Read" asp-route-id="@product.Id">Read</a>
                        <a asp-page="Delete" asp-route-id="@product.Id" class="btn" style="color: white; margin-left: 10px;">
                            <i class="fas fa-trash" style="color: white;"></i>
                            <span style="color: white;">Delete</span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
