@page
@using ContosoCrafts.WebSite.Services
@using ContosoCrafts.WebSite.Models
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.UpdateModel

@{
    ViewData["Title"] = "Update page";
}

<h1>Update</h1>

<form method="post">
    <input type="hidden" asp-for="Product.Id"/>

    <div>
        <label asp-for="Product.Title">Superhero Name</label>
        <input asp-for="Product.Title" />
        <span asp-validation-for="Product.Fullname"></span>
    </div>

    <div>
        <label asp-for="Product.Fullname">Full Name</label>
        <input asp-for="Product.Fullname" />
        <span asp-validation-for="Product.Fullname"></span>
    </div>

    <div>
        <label asp-for="Product.Birthplace">Birthplace</label>
        <input asp-for="Product.Birthplace" />
        <span asp-validation-for="Product.Birthplace"></span>
    </div>

    <div>
        <label asp-for="Product.Work"></label>
        <input asp-for="Product.Work" />
        <span asp-validation-for="Product.Work"></span>
    </div>

    <div>
        <label asp-for="Product.FirstAppear">First Appearance</label>
        <input asp-for="Product.FirstAppear" />
        <span asp-validation-for="Product.FirstAppear"></span>
    </div>

    <h2>Powerstats</h2>
    @foreach (var power in Model.Product.Powerstats)
    {
        <div>
            <label>@power.Key</label>
            <input type="number" name="Product.Powerstats[@power.Key]" value="@power.Value" />
        </div>
    }

    <div>
        <label asp-for="Product.ImageUrl">Image URL</label>
        <input asp-for="Product.ImageUrl" />
        <span asp-validation-for="Product.ImageUrl"></span>
    </div>

    <div>
        <input type="submit" value="Update" />
        <a asp-page="./Index" asp-route-id="@Model.Product.Id">Cancel</a>
    </div> 
</form>
