@page
@model ContosoCrafts.WebSite.Pages.AvengersHistoryModel
@{
    ViewData["Title"] = "Avengers History";
}
<h1>@ViewData["Title"]</h1>
<div id="avengers-history">
    <p class ="new-text">
        The Avengers were a team of extraordinary individuals, with either superpowers or 
        other special characteristics. Though primarily affiliated with the interests of 
        the United States of America, the group's purpose was to protect global stability 
        from inner or extraterrestrial threats. The Avengers were assembled in 2012 by S.H.I.E.L.D. 
        as a result of the Avengers Initiative, when Loki invaded Earth with his Chitauri army. 
        The first iteration of the team, consisting of Iron Man, Captain America, Hulk, Thor, Black 
        Widow and Hawkeye, defeated Loki in the Battle of New York to stop the Chitauri Invasion.
    </p>
</div>

